#About-Page {
    display: flex;
    align-items: center;
    align-self: center;
    margin: auto;
    flex-direction: row;
    background-color: red;
}

.about {
    align-self: flex-start;
}

.info-card {
    display: flex;
    flex-direction: column;
}